@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fontFamily: 'Raleway', sans-serif;
$primaryColor:#D77D4A;
$primaryFontColor: #000000;
$lightFontColor:#C3C3C3;
$lightBackgroundColor:#F1F1F1;

body{
    margin: 0px;
    padding: 0px;
    font-family: $fontFamily;
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0px;
    margin: 0px;
}