@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fontFamily: 'Raleway', sans-serif;
$primaryColor:#D77D4A;
$primaryFontColor: #000000;
$lightFontColor:#7e7e7e;
$lightBackgroundColor:#F1F1F1;
$blackBackgroundColor:#0C0C0C;

body{
    margin: 0px;
    padding: 0px;
    font-family: $fontFamily;
    color: $primaryFontColor;
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
p{
    line-height: 25px;
}
a{
    text-decoration: none;
    color: $blackBackgroundColor;
}
img{
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0px;
    margin: 0px;
}
.light-text{
    color: $lightFontColor;
}
.center-div{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0px 10px;
}
.btn{
    min-width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}
.btn-accent{
    background-color: $primaryColor;
    color: $lightBackgroundColor;
    transition: opacity .3s;
    &:hover{
        opacity: .8;
    }
}
.btn-default{
    border:1px solid #747474;
    transition: all .3s;
    &:hover{
        opacity: .8;
        // border-color: $primaryColor;
        // // color: $primaryColor;
        // background-color: $primaryColor;
        // color: $lightBackgroundColor;
    }
}
.btn-black{
    background-color: $blackBackgroundColor;
    color: $lightBackgroundColor;
    transition: opacity .3s;
    &:hover{
        opacity: .9;
    }
}

header{
    width: 100%;
    background-color: $blackBackgroundColor;
    nav{
        display: flex;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $lightFontColor;
        .logo{
            // background-color: rebeccapurple;
            color:$lightBackgroundColor;
            font-weight: bold;
            font-size: 30px;
        }
        ul{
            list-style:none;
            margin: 0px;
            padding: 0px;
            // background-color: yellow;
            a{
                color: $lightBackgroundColor;
            }
            li{
                float: left;
                padding: 5px 20px;
                font-weight: 500;
                font-size: 13px;
                letter-spacing: 2px;
            }
        }
        .shopping-cart{
            color: $lightBackgroundColor;
        }
    }
}
.call-to-action{
    background-color: $blackBackgroundColor;
    .cta{
        color: $lightBackgroundColor;
        display: grid;
        max-height: auto;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        min-height: 100vh;
        height: auto;
        .cta-description{
            small{
                // color: $lightFontColor;
                font-size: 15px;
                letter-spacing: 5px;
            }
            h1{
                font-size: 50px;
                margin: 20px 0px;
            }
            p{
                color: $lightBackgroundColor;
                line-height: 30px;
            }
        }
        .cta-image{
            img{
                width: 100%;
            }
        }
    }
}

.product-grid{
    // background-color: red;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-column-gap: 40px;
    .product{
        padding: 20px;
        display: grid;
        grid-row-gap: 30px;
        .image{
            padding: 50px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            // aspect-ratio: 1/1;
            background-color: $lightBackgroundColor;
            img{
                max-width: 70%;
            }
        }
        h3{
            text-align: center;
        }
        .btn{
            justify-self: center;
        }
    }
}

.section-speaker{
    margin-top: 100px;
    overflow: hidden;
    padding-top: 70px;
    border-radius: 10px;
    background-color: $primaryColor;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .speaker-image{
        // background-color: yellowgreen;
        display: flex;
        justify-content: center;
        // align-items: end;
        img{
            max-width: 60%;
            margin-bottom: -60px;
            z-index: 2;
        }
        .round-one, .round-two, .round-three{
            border:1px solid rgba(255, 255, 255, 0.226);
            position: absolute;
            border-radius: 50%;
        }
        .round-one{
            height: 300px;
            width: 300px;
        }
        .round-two{
            margin-top: -25px;
            height: 350px;
            width: 350px;
        }
        .round-three{
            margin-top: -100px;
            height: 600px;
            width: 600px;
        }
    }
    .speaker-description{
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            h1{
                font-size: 50px;
                color: $lightBackgroundColor;
                margin-bottom: 20px;
            }
        .light-text{
            color: white;
            opacity: .8;
            margin-bottom:30px;
        }
    }
}

.section-headphone{
    background-image: url('/images/music.png');
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-top: 100px;
    .left{
        // background-color: $primaryColor;
        max-width: 400px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            margin-bottom: 30px;
            font-size: 40px;
        }
    }
}

.two-columns{
    // height: 500px;
    margin-top: 100px;
    display: grid;
    // background-color: $primaryColor;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    .left-column{
        border-radius: 10px;
        padding: 100px;
        background-color: $lightBackgroundColor;
        h1{
            margin-bottom: 30px;
        }
    }
    .right-column{
        border-radius: 10px;
        background-image: url('/images/luke-peterson-lUMj2Zv5HUE-unsplash.jpg');
        background-position: center;
        background-size: cover;
    }
}