@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fontFamily: 'Raleway', sans-serif;
$primaryColor:#D77D4A;
$primaryFontColor: #000000;
$lightFontColor:#7e7e7e;
$lightBackgroundColor:#F1F1F1;
$blackBackgroundColor:#0C0C0C;

body{
    margin: 0px;
    padding: 0px;
    font-family: $fontFamily;
    color: $primaryFontColor;
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: $blackBackgroundColor;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0px;
    margin: 0px;
}
.center-div{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0px 10px;
}
.btn{
    min-width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}
.btn-accent{
    background-color: $primaryColor;
    color: $lightBackgroundColor;
    transition: opacity .3s;
    &:hover{
        opacity: .8;
    }
}
.btn-default{
    border:1px solid #747474;
    transition: all .3s;
    &:hover{
        opacity: .8;
        // border-color: $primaryColor;
        // // color: $primaryColor;
        // background-color: $primaryColor;
        // color: $lightBackgroundColor;
    }
}
.btn-black{
    background-color: $blackBackgroundColor;
    color: $lightBackgroundColor;
    transition: opacity .3s;
    &:hover{
        opacity: .9;
    }
}

header{
    width: 100%;
    background-color: $blackBackgroundColor;
    nav{
        display: flex;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $lightFontColor;
        .logo{
            // background-color: rebeccapurple;
            color:$lightBackgroundColor;
            font-weight: bold;
            font-size: 30px;
        }
        ul{
            list-style:none;
            margin: 0px;
            padding: 0px;
            // background-color: yellow;
            a{
                color: $lightBackgroundColor;
            }
            li{
                float: left;
                padding: 5px 20px;
                font-weight: 500;
                font-size: 13px;
                letter-spacing: 2px;
            }
        }
        .shopping-cart{
            color: $lightBackgroundColor;
        }
    }
}
section{
    background-color: $blackBackgroundColor;
    .cta{
        color: $lightBackgroundColor;
        display: grid;
        max-height: auto;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        min-height: 100vh;
        height: auto;
        .cta-description{
            small{
                color: $lightFontColor;
                font-size: 15px;
                letter-spacing: 5px;
            }
            h1{
                font-size: 50px;
                margin: 20px 0px;
            }
            p{
                color: $lightBackgroundColor;
                line-height: 30px;
            }
        }
        .cta-image{
            img{
                width: 100%;
            }
        }
    }
}

.product-grid{
    // background-color: red;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .product{
        padding: 20px;
        display: grid;
        grid-row-gap: 30px;
        .image{
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            background-color: $lightBackgroundColor;
            img{
            max-width: 50%;
            }
        }
        h3{
            text-align: center;
        }
        .btn{
            justify-self: center;
        }
    }
}