@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #0C0C0C;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}

.light-text {
  color: #7e7e7e;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding: 0px 10px;
}

.btn {
  min-width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.btn-accent {
  background-color: #D77D4A;
  color: #F1F1F1;
  transition: opacity 0.3s;
}
.btn-accent:hover {
  opacity: 0.8;
}

.btn-default {
  border: 1px solid #747474;
  transition: all 0.3s;
}
.btn-default:hover {
  opacity: 0.8;
}

.btn-black {
  background-color: #0C0C0C;
  color: #F1F1F1;
  transition: opacity 0.3s;
}
.btn-black:hover {
  opacity: 0.9;
}

header {
  width: 100%;
  background-color: #0C0C0C;
}
header nav {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #7e7e7e;
}
header nav .logo {
  color: #F1F1F1;
  font-weight: bold;
  font-size: 30px;
}
header nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
header nav ul a {
  color: #F1F1F1;
}
header nav ul li {
  float: left;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 2px;
}
header nav .shopping-cart {
  color: #F1F1F1;
}

.call-to-action {
  background-color: #0C0C0C;
}
.call-to-action .cta {
  color: #F1F1F1;
  display: grid;
  max-height: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: 100vh;
  height: auto;
}
.call-to-action .cta .cta-description small {
  font-size: 15px;
  letter-spacing: 5px;
}
.call-to-action .cta .cta-description h1 {
  font-size: 50px;
  margin: 20px 0px;
}
.call-to-action .cta .cta-description p {
  color: #F1F1F1;
  line-height: 30px;
}
.call-to-action .cta .cta-image img {
  width: 100%;
}

.product-grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.product-grid .product {
  padding: 20px;
  display: grid;
  grid-row-gap: 30px;
}
.product-grid .product .image {
  padding: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1;
}
.product-grid .product .image img {
  max-width: 70%;
}
.product-grid .product h3 {
  text-align: center;
}
.product-grid .product .btn {
  justify-self: center;
}

.section-speaker {
  margin-top: 100px;
  overflow: hidden;
  padding-top: 70px;
  border-radius: 10px;
  background-color: #D77D4A;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-speaker .speaker-image {
  display: flex;
  justify-content: center;
}
.section-speaker .speaker-image img {
  max-width: 60%;
  margin-bottom: -60px;
  z-index: 2;
}
.section-speaker .speaker-image .round-one, .section-speaker .speaker-image .round-two, .section-speaker .speaker-image .round-three {
  border: 1px solid rgba(255, 255, 255, 0.226);
  position: absolute;
  border-radius: 50%;
}
.section-speaker .speaker-image .round-one {
  height: 300px;
  width: 300px;
}
.section-speaker .speaker-image .round-two {
  margin-top: -25px;
  height: 350px;
  width: 350px;
}
.section-speaker .speaker-image .round-three {
  margin-top: -100px;
  height: 600px;
  width: 600px;
}
.section-speaker .speaker-description {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.section-speaker .speaker-description h1 {
  font-size: 50px;
  color: #F1F1F1;
  margin-bottom: 20px;
}
.section-speaker .speaker-description .light-text {
  color: white;
  opacity: 0.8;
  margin-bottom: 30px;
}

.section-headphone {
  background-image: url("/images/music.png");
  min-height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-top: 100px;
}
.section-headphone .left {
  max-width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-headphone .left h1 {
  margin-bottom: 30px;
  font-size: 40px;
}

.two-columns {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.two-columns .left-column {
  border-radius: 10px;
  padding: 100px;
  background-color: #F1F1F1;
}
.two-columns .left-column h1 {
  margin-bottom: 30px;
}
.two-columns .right-column {
  border-radius: 10px;
  background-image: url("/images/luke-peterson-lUMj2Zv5HUE-unsplash.jpg");
  background-position: center;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */